
{% extends "bootstrap_base.html" %}
{% load url from future %}
{% load staticfiles %}

 {% block title %} Update User Info
 {% endblock %}

{% block script %}
<style type="text/css">
.img_container {
    width: 185px;
    height: 200px;
}

.img{
    width: 100%;
    height: 100%;
}

.tab-title{
  font-size: 14px;
  font-weight:bold;
}
</style>
<script> </script>
{% endblock %} 

{% block script_end_body %}
<script type="text/javascript">setNavActive("nav_0")</script>
<script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>

<script>
  $(document).ready(function(){
      $("li.tab-title> a").click(function(){
          //$(this).addClass('active');
          $("li.tab-title").removeClass('active');
          $(this).parent("li.tab-title").addClass('active');
        });
      });

</script>
{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1>OST Blog</h1>
    <p>This is the final project of Open Source Tools, Fall 2013, NYU. It use AWS EC2 as server, RDS as it database, S3 as it storage for videos and other files. It also uses CloudFront to distribute its storage. </p>
    <p class="pull-right"><small>by Shouda Wang.<small> </p>
    <br>
    {% if not user.is_authenticated %}
    <div class="pull-right"><p><a href="{% url 'sign_up' %}" class="btn btn-success btn-lg pull-right" role="button">Sign up</a></p></div>
    <br>
    {% endif %}
</div>

<ul class="nav nav-tabs">
  <li class="active tab-title"><a href="javascript:void(0)">Latest Posts</a></li>
  <li class="tab-title"><a href="javascript:void(0)" >Hottest Blogs</a></li>
</ul>
<div class="col-sm-12 col-md-12">
  <iframe frameborder=0 width="100%">
  </iframe>
</div>

<h1>Hottest Posts </h1>
<hr />

<div class="col-sm-12 col-md-12">
  {% for item in video_info_list %}
  <div class="row">
      <!--<div class="col-sm-4 col-md-4" style="width:auto; max-height:200px">-->
      <div class="col-sm-4 col-md-4" style="max-height:200px">
        <a href="{% url 'theatre_view' item.video_id %}" class="thumbnail" style="max-width:300px">
          {% if item.thumbnail_url %}
          <div class="img">
              <img src="{{ item.thumbnail_url }}" class="img" >
          </div> 
          {% else %}
          <img data-src="holder.js/300x200">
          {% endif %}
        </a>
      </div>
      <!--<div class="col-sm-4 col-sm-offset-5 col-md-4 col-md-offset-5" >-->
      <div class="col-sm-8 col-md-8 " >
        <h3>{{ item.title }}</h3>
        <p>by <a href="">{{ item.uploader }}</a></p>
        <p><small>Published on {{item.published_date}}</small></p>
        <p><span id="rating_{{item.video_id}}"></span><small>({{item.num_votes}} votes)</small></p>
        <p> <small>{{ item.description }}</small> </p>
      </div>
  </div>
  <hr style="color:grey">
  {% endfor %}   
  
</div>



{% endblock %}



