
{% extends "bootstrap_base.html" %}

{% load url from future %}
{% load staticfiles %}

 {% block title %} My Blogs
 {% endblock %} 
 
{% block script %}
<style type="text/css">
    
.img_container {
    width: 185px;
    height: 200px;
}

.img{
    width: 100%;
    height: 100%;
}

.title{
 margin-left:25px;
}
.item-blog{
  line-height:3px;
  font-size:15px;
}
.my-panel-heading{
  font-size:17px;
}

.my-panel-heading span{
  display:block;
}
</style>

{% endblock %} 

{% block script_end_body %}
<script type="text/javascript">setNavActive("nav_4")</script>

<script type="text/javascript" src="https://rawgithub.com/house9/jquery-iframe-auto-height/master/release/jquery.browser.js">
</script>
<script type="text/javascript" src="https://rawgithub.com/house9/jquery-iframe-auto-height/master/release/jquery.iframe-auto-height.js">
</script>

<script type="text/javascript">
  $(document).ready(function(){
      $("li.item-blog > a").click(function(){
          //$(this).addClass('active');
          $("li.item-blog").removeClass('active');
          $(this).parent("li.item-blog").addClass('active');
          <!--console.log($(this).html());-->
          $("div.my-panel-heading").parent('.panel').addClass('panel-info');
          $(this).closest('.panel').removeClass('panel-info');
          $(this).closest('.panel').addClass('panel-success');
        })
      $("div.my-panel-heading").click(function(){
          $(".panel").removeClass('panel-success');
          $(".panel").addClass('panel-info');
          $(this).parent(".panel").removeClass('panel-info');
          $(this).parent(".panel").addClass('panel-success');
          $("li.item-blog").removeClass('active');
          <!--console.log($(this).html());-->
        });
        $("div.my-panel-heading").parent('panel').addClass('active');
      });

  $(document).ready(function(){
    $('iframe').iframeAutoHeight({debug: true, resetToMinHeight: true, minHeight: 800});    
   });

  function deletePost(e){
    var caller = e.target || e.srcElement;
    console.log(caller);
    var post_id = $(caller).data('post-id');
    console.log(post_id);
    var deleteUrl = "{%url 'post_delete_interact' post_id=0 %}"
    deleteUrl = deleteUrl.replace('0', post_id);
    console.log(deleteUrl);

    <!--window.open("index","content")-->
    window.open(deleteUrl,"content")
    $("#deleteModal").modal('hide');
}
</script>

{% endblock %}

{% block body %}


<h1 class="title">My Blogs</h1>
<hr />

<div class="col-sm-3">
  <div class="panel panel-info">
    <div class="panel-heading my-panel-heading">
      <a href="{%url 'my_blogs_own_view' %}" target="content"><span>I Own</span></a>
    </div>
    <!--<a href="#"><div class="panel-heading my-panel-heading">I Own</div></a>-->
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        {%for item in own_blogs%}
        <li class="item-blog">
          <a href="{%url 'my_blogs_own_view' item.id %}" 
            target="content">{{item.name}}</a>
        </li>
        {%endfor%}
      </ul>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading my-panel-heading">
      <a href="{%url 'my_blogs_shared_view' %}" target="content"><span>Shared with Me</span></a>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        {%for item in author_blogs%}
        <li class="item-blog"><a href="{%url 'my_blogs_shared_view' item.id %}" target="content">{{item.name}}</a></li>
        {%endfor%}
      </ul>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading my-panel-heading">
      <a href="{%url 'my_blogs_following_view' %}" target="content"><span>Following</span></a>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        {%for item in follower_blogs%}
        <li class="item-blog">
          <a href="{%url 'my_blogs_following_view' item.id %}" target="content">{{item.name}}</a>
        </li>
        {%endfor%}
      </ul>
    </div>
  </div>

</div>

<div class="col-sm-9">
  <div class="panel panel-info">
    <iframe id="content" frameborder="0" width="100%">
    </iframe>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Confirm</h4>
      </div>
      <div class="modal-body">
          <p style="font-size:20px; color:red">
          Are you sure you want to delete the post:
          </p>
          <p style="font-size:28px;"><span id="post_title"></span></p>
        </div>
      <div class="modal-footer">
        <form action="" target="content">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" >Delete</button>
          <a id="deleteBtn" href="javascript:void(0)" onclick="deletePost(event)"
            class="btn btn-danger" data-post-id="1" >Delete</a>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}



