<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

  </head> 
  <style type="text/css">
    .post-content{
      margin-top: 10px;
    }
    .continue-link{
      margin-left:10px;
    }
    .post-title{
      margin-right:10px
    }  </style>
<body>

  <div style="padding:0px 20px">
    <h2><a href="javascript:void(0)" class="post-title">{{post.title}}</a>
      {%if is_editable%}
      <small><a class="edit-link" href="{%url 'post_edit_embedded_view' post.id%}">( Edit ) </a></small>
      {%endif%}
    </h2>
    <small>post on {{create_date}}, by {{author_name}}</small>
    <p><small>Post in 
      {%for tag in post.tags.all%}
        {%if forloop.last%}
          <a href="#">{{tag.name}}.</a>
        {%else%}
          <a href="#">{{tag.name}}, </a>
        {%endif%}
      {%endfor%}
    </small></p>
    <p class="post-content">{{content|safe}}</p>
    <hr style="width:100%"/>
  </div>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</body>

</html>
