{% extends "post_list.html" %}
{% block info %}
<div class="panel panel-warning" style="margin:10px;">
  <div class="panel-heading">
    <h3 class="panel-title">{{info_title}}</h3>
  </div>
  <div class="panel-body" style="padding-bottom:0px">
      <table class="table table-hover table-bordered">
        {%if owner%}
        <tr>
          <th style="width:40px">Owner:</th>
          <td>{{owner}}</td>
        </tr>
        {%endif%}
        <tr>
          <th >Authors:</th>
          <td>{{author_names}}</td>
        </tr>
        <tr>
          <th>Posts Num:</th>
          <td>{{post_num}}</td>
        </tr>
      </table>
  </div>
</div>

{% endblock %}

