{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

  <style type="text/css">
    .post-content{
      margin-top: 10px;
    }
    .continue-link{
      margin-left:10px;
    }
    .input-title{
      width:400px;
    }
    .my-button-group{
      margin-right:30px;
    }
  </style>
  <script src="{% static 'myblog/plugins/ckeditor/ckeditor.js' %}"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.4/select2.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.4/select2.js"> </script>

  <script type="text/javascript">
    $(document).ready(function(){
        CKEDITOR.replace( 'post_content' , {
            filebrowserUploadUrl: "{%url 'ckeditor_upload'%}",
            filebrowserBrowseUrl: "{%url 'ckeditor_browse'%}",
            height:'600'
          });

        var all_tags = JSON.parse('{{all_tags_json|safe}}');
        {%if tags_json%}
        var tags = JSON.parse('{{tags_json|safe}}');
        {%else%}
        var tags = null;
        {%endif%}

        console.log(tags);
        $("#tags").select2({
          tags:["red", "green", "blue"],
          <!--tags: [{1:"red"}],-->
          <!--tags: all_tags,-->
          tokenSeparators: [","],
          minimumInputLength: 1,
          quietMillis : 200,
          ajax: {
              url : "{%url 'get_tags_ajax'%}",
              dataType: "json",
              data: function (term, page) {
                    return {
                              q: term // search term
                          };
                    },
              results: function (data, page) {
                      return { results: data.results };
                      <!--return  data ;-->
                        }
                      },
            initSelection: function(element, callback) {
                              var data = [];
                              $(element.val().split(",")).each(function(){
                                  data.push({id:this, text:this})
                                });
                              callback(data)
                           },
            createSearchChoice: function(term){
                      return {id:term, text: term}
                    },
          });
        $("#tags").val(tags).trigger("change");

        $("#blog").select2();
        {%if blog_id%}
        $("#blog").val("{{blog_id}}").trigger("change");
        {%endif%}

        $('meta[name="csrf-param"]').attr('content')
        $('meta[name="csrf-token"]').attr('content')
      })
  </script>

</head> 
<body>

{%if post%}
<form class="form-horizontal" method="POST" 
    action="{%url 'post_edit_interact' post_id=post.id%}" 
    style="padding:0px 20px; margin-top: 30px;">
{%else%}
<form class="form-horizontal" method="POST" 
    action="{%url 'post_edit_interact'%}" 
    style="padding:0px 20px; margin-top: 30px;">
{%endif%}

    {%csrf_token%}
    <input type="hidden" name="post_id" value="{{post.id}}">
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title : </label>
        <div class="col-sm-8">
          <input type="text" name="title"
          class="form-control " id="title" placeholder="Title" 
          value="{{post.title}}" required>
        </div>
      </div>
      <div class="form-group">
        <label for="blog" class="col-sm-2 control-label" >In Blog : </label>
        <div class="col-sm-3">
          <select id="blog" name="blog_id" style="width:100%">
            {%for blog in blog_options%}
            <option value="{{blog.id}}">{{blog.name}}
            </option>
            {%endfor%}
          </select>
        </div>
      </div>
      <!--<div class="form-group">-->
        <!--<label for="post_date" class="col-sm-2 control-label" >Create Date : </label>-->
        <!--<div class="col-sm-3">-->
          <!--<span id="post_date" class="form-control" >{{create_date}}</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="author" class="col-sm-2 control-label" >Author : </label>-->
        <!--<div class="col-sm-3">-->
          <!--<span id="author" class="form-control" >{{author_name}}</span>-->
        <!--</div>-->
      <!--</div>-->

      <div class="form-group">
        <label for="tags" class="col-sm-2 control-label" >Tags : </label>
        <div class="col-sm-6">
          <!--<input type="hidden" id="tags" style="width:100%"-->
          <!--value="{{tags_json|safe}}">-->
          <input type="hidden" id="tags" name="tags" style="width:100%">
        </div>
      </div>
      <div class="form-group ">
        <div class="pull-right col-sm-3">
          <div class="pull-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="javascript:void(0)" class="btn btn-warning"
              onClick="location.href = document.referrer;">Discard</a>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <textarea id="post_content" name="content" rows="50" cols="70">
            {{content|safe}}
          </textarea>
        </div>
      </div>

      <div class="form-group ">
        <div class="pull-right col-sm-3">
          <div class="pull-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-warning">Discard</button>
          </div>
        </div>
      </div>
</form>

 
</body>

</html>
