<div style=" margin-top:10px; margin-left:10px; width:90%">
  <form action="{%url 'search_in_blogs' %}" method="GET" class="form-horizontal">
    <input type="hidden" name="blog_ids" value="{{blog_ids}}">
    <div class="form-group">
      <label for="key_word" class="control-label col-xs-1">Search: </label>
      <div class="col-xs-4">
          <input id="key_word" class="form-control" type="text" name="key_word" placeholder="Key Word">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
  <hr>
